.container{
  display: flex;
  align-items: center;
  justify-content: center;
}
.pokemon-detail-view__container {  
  font-family: "Caveat Brush", cursive;
  padding: 20px;
  padding-top: 10px;
  width: 500px;
  border-radius: 25px;
}
.close-icon{
  position: relative;
  font-size: 10px;
  left: 490px;
}

  
.pokemon-detail-view__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 35px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 30px;
  text-transform: capitalize;
  margin-bottom: 10px;
  h4,h5,p{
    margin: 0;
  }
}

.pokemon-detail-view__image {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  width: 150px;
  height: 150px;
  border-radius: 15px;
  img{
    width: 150px;
  }
}
.pokemon-details__main {
  display: flex;
  justify-content: space-around;
}

.types{
  padding-bottom: 5px;
  padding: 5px;
  text-align: center;
  h3, p{
      margin: 0;
  }
}
.types_content{
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.dimensions{
  margin-top: 20px;
  h3, p{
    margin: 0;
  }
}

.stats{  
  padding: 5px;
  h3, p{
    margin: 0;
  }
  h3{
    text-align: center;
    margin-bottom: 5px;
  }
  border-radius: 10px;
}



.pokemon-stats {
  width: 110px;
  margin: 5px 0;
}
.stats_content{
  display: flex;
  align-items: center;
}
.stats_container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-auto-flow: column;
}

.stat-bar {
  height: 15px;
}


.grass_shadow-line{
  box-shadow: rgba(75, 211, 109, 0.5) 0px 2px 0px;
}
.fire_shadow-line{
  box-shadow: rgba(203, 67, 33, 0.5) 0px 2px 0px;
}
.water_shadow-line{
  box-shadow: rgba(33, 93, 203, 0.5) 0px 2px 0px;
}
.bug_shadow-line{
  box-shadow: rgba(107, 155, 30, 0.5) 0px 2px 0px;
}
.flying_shadow-line{
  box-shadow: rgba(125,166,222, 0.5) 0px 2px 0px;
}
.normal_shadow-line{
  box-shadow: rgba(170,176,159, 0.5) 0px 2px 0px;
}
.poison_shadow-line{
  box-shadow: rgba(162, 87, 163, 0.5) 0px 2px 0px;
}
.electric_shadow-line{
  box-shadow: rgba(227, 230, 64, 0.5) 0px 2px 0px;
}
.ground_shadow-line{
  box-shadow: rgba(204,159,79, 0.5) 0px 2px 0px;
}
.fairy_shadow-line{
  box-shadow: rgba(227,151,209, 0.5) 0px 2px 0px;
}
.fighting_shadow-line{
  box-shadow: rgba(203,95,72, 0.5) 0px 2px 0px;
}
.psychic_shadow-line{
  box-shadow: rgba(229,112,155, 0.5) 0px 2px 0px;
}
.rock_shadow-line{
  box-shadow: rgba(164,149,97, 0.5) 0px 2px 0px;
}
.ghost_shadow-line{
  box-shadow: rgba(132,106,182, 0.5) 0px 2px 0px;
}
.ice_shadow-line{
  box-shadow: rgba(112,203,212, 0.5) 0px 2px 0px;
}
.dragon_shadow-line{
  box-shadow: rgba(106,123,175, 0.5) 0px 2px 0px;
}
.dark_shadow-line{
  box-shadow: rgba(115,108,117, 0.5) 0px 2px 0px;
}
.steel_shadow-line{
  box-shadow: rgba(137,161,176, 0.5) 0px 2px 0px;
}



.grass_bar{
  background-color: var(--grass);
  color: var(--grass);
}
.fire_bar{
  background-color: var(--fire);
  color: var(--fire);
}
.water_bar{
  background-color: var(--water);
  color: var(--water);
}
.bug_bar{
  background-color: var(--bug);
  color: var(--bug);
}
.flying_bar{
  background-color: var(--flying);
  color: var(--flying);
}
.normal_bar{
  background-color: var(--normal);
  color: var(--normal);
}
.poison_bar{
  background-color: var(--posion);
  color: var(--electric);
}
.electric_bar{
  background-color: var(--flying);
  color: var(--flying);
}
.ground_bar{
  background-color: var(--ground);
  color: var(--ground);
}
.fairy_bar{
  background-color: var(--fairy);
  color: var(--fairy);
}
.fighting_bar{
  background-color: var(--fighting);
  color: var(--fighting);
}
.psychic_bar{
  background-color: var(--psychic);
  color: var(--psychic);
}
.rock_bar{
  background-color: var(--rock);
  color: var(--rock);
}
.ghost_bar{
  background-color: var(--ghost);
  color: var(--ghost);
}
.ice_bar{
  background-color: var(--ice);
  color: var(--ice);
}
.dragon_bar{
  background-color: var(--dragon);
  color: var(--dragon);
}
.dark_bar{
  background-color: var(--dark);
  color: var(--dark);
}
.steel_bar{
  background-color: var(--steel);
  color: var(--steel);
}




.grass_shadow{
  box-shadow: rgba(33, 203, 76, 0.4) 0px 8px 24px;
}
.fire_shadow{
  box-shadow: rgba(203, 67, 33, 0.4) 0px 8px 24px;
}
.water_shadow{
  box-shadow: rgba(33, 104, 203, 0.4) 0px 8px 24px;
}
.bug_shadow{
  box-shadow: rgba(166,185,26, 0.4) 0px 8px 24px;
}
.flying_shadow{
  box-shadow: rgba(125,166,222, 0.4) 0px 8px 24px;
}
.normal_shadow{
  box-shadow: rgba(170,176,159, 0.4) 0px 8px 24px;
}
.poison_shadow{
  box-shadow: rgba(180,104,183, 0.4) 0px 8px 24px;
}
.electric_shadow{
  box-shadow: rgba(229,197,49, 0.4) 0px 8px 24px;
}
.ground_shadow{
  box-shadow: rgba(204,159,79, 0.4) 0px 8px 24px;
}
.fairy_shadow{
  box-shadow: rgba(227,151,209, 0.4) 0px 8px 24px;
}
.fighting_shadow{
  box-shadow: rgba(203,95,72, 0.4) 0px 8px 24px;
}
.psychic_shadow{
  box-shadow: rgba(229,112,155, 0.4) 0px 8px 24px;
}
.rock_shadow{
  box-shadow: rgba(164,149,97, 0.4) 0px 8px 24px;
}
.ghost_shadow{
  box-shadow: rgba(132,106,182, 0.4) 0px 8px 24px;
}
.ice_shadow{
  box-shadow: rgba(112,203,212, 0.4) 0px 8px 24px;
}
.dark_shadow{
  box-shadow: rgba(115,108,117, 0.4) 0px 8px 24px;
}
.dragon_shadow{
  box-shadow: rgba(106,123,175, 0.4) 0px 8px 24px;
}
.steel_shadow{
  box-shadow: rgba(137,161,176, 0.4) 0px 8px 24px;
}



.type__grass{
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 5px;
  background-color: var(--grass);
}
.type__fire{
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 5px;
  background-color: var(--fire);
}
.type__water{
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 5px;
  background-color: var(--water);
}
.type__bug{
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 5px;
  background-color: var(--bug);
}
.type__flying{
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 5px;
  background-color: var(--flying);
}
.type__normal{
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 5px;
  background-color: var(--normal);
}
.type__poison{
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 5px;
  background-color: var(--poison);
}
.type__electric{
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 5px;
  background-color: var(--electric);
}
.type__ground{
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 5px;
  background-color: var(--ground);
}
.type__fairy{
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 5px;
  background-color: var(--fairy);
}
.type__fighting{
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 5px;
  background-color: var(--fighting);
}
.type__psychic{
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 5px;
  background-color: var(--psychic);
}
.type__rock{
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 5px;
  background-color: var(--rock);
}
.type__ghost{
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 5px;
  background-color: var(--ghost);
}
.type__ice{
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 5px;
  background-color: var(--ice);
}
.type__dragon{
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 5px;
  background-color: var(--dragon);
}
.type__dark{
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 5px;
  background-color: var(--dark);
}
.type__steel{
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 5px;
  background-color: var(--stell);
}

